[user]
	name = Arti Zirk
	email = arti.zirk@gmail.com
[merge]
	tool = meld

[alias]
	plog = log --graph --pretty=format:'%h -%d %s %n' --abbrev-commit --date=relative --branches
	ls = "! for file in $(ls --group-directories-first -p); do git log -n 1 --pretty=\"format:${file}|%s|%ar%n\" -- $file; done | column -s'|' -t -T 2"
[web]
	browser = firefox
[browser "firefox"]
	path = firefox-developer-edition
[instaweb]
	httpd = webrick
[core]
	editor = nvim
	quotepath = false
[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
[sendemail]
	smtpEncryption = tls
	smtpServer = smtp.gmail.com
	smtpUser = arti.zirk@gmail.com
	smtpServerPort = 587
[diff]
	wsErrorHighlight = all
	algorithm = patience
[cola]
	spellcheck = false
[push]
	followTags = true
